.burger-icon {
  display: flex;
  flex-direction: column;
  gap: 6px;
  transition: all 0.3s ease;
  background: none;
  border: none;
}
.burger-icon span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: black;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.burger-icon + .burger-icon {
  margin-top: 5px;
}
.bar.active {
  transform: rotate(45deg);
}
.bar.active + .bar {
  transform: rotate(-45deg);
  margin-top: -10px;
}
.bar.active + .bar + .bar {
  /* transform: scaleX(0); */
  display: none;
}

.landing-nav-mobile {
  padding: 10px 20px;
  background-color: rgb(230, 228, 228);
  position: fixed;
  top: 20px;
  right: 60px;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.5);
}
.mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobile {
    display: flex;
    cursor: pointer;
  }
  .desktop {
    display: none;
  }
}

.active {
  display: flex;
}
