.burger {
  display: none;
}

.burger-icon {
  display: flex;
  flex-direction: column;
  gap: 6px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.bar {
  display: block;
  width: 30px;
  height: 4px;
  background-color: black;
  border-radius: 2px;
  transition: all 0.3s ease;
  margin-bottom: 3px;
}

/* Анимация для крестика */
.burger-icon.active_bar .bar1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger-icon.active_bar .bar2 {
  opacity: 0;
}

.burger-icon.active_bar .bar3 {
  transform: rotate(-45deg) translate(5px, -5px);
}

.landing-nav-mobile {
  z-index: 1000;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 60px;
  right: 60px;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.5), 0 4px 12px rgba(0, 0, 0, 0.2);
}

.landing-nav-mobile.active_bar {
  display: flex;
}

.landing-nav-mobile .nav-link {
  text-decoration: none;
  color: #007bff;
  font-weight: 500;
  font-size: 16px;
}

.landing-nav-mobile .nav-link.active_bar {
  color: #0056b3;
  font-weight: bold;
  border-bottom: 2px solid #0056b3;
}

@media screen and (max-width: 768px) {
  .burger {
    display: block;
  }
  .mobile {
    display: flex;
    cursor: pointer;
  }
  .desktop {
    display: none;
  }
}
