.dashboard-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}
.navbar {
  display: flex;
  gap: 10px;
  align-items: center;
}
.logo img {
  height: 50px;
  width: auto;
}
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.dashboard-container h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.stats-section {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.cards-section {
  margin-top: 20px;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
/* card items style */

.card-item {
  margin: auto;
  position: relative;
  display: flex;
  width: 100%;
  aspect-ratio: 9 / 17;
  flex-direction: column;
  border-radius: 25px;
  padding: 15px;
  text-align: center;
  transition: all 0.3s ease;
  gap: 10px;
  border: 4px solid #000000;
  box-shadow: 4px 4px 0px rgb(74, 74, 74), -4px -4px 0px rgb(74, 74, 74),
    -4px 4px 0px rgb(74, 74, 74), 4px -4px 0px rgb(74, 74, 74);
}

.card_bg_small_card {
  border-radius: 20px 20px 0 0;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 25%;
  object-fit: cover;

  z-index: 0;
  opacity: 0.6;
}
.card-item:hover {
  box-shadow: 4px 4px 0px rgb(74, 74, 74), -4px -4px 0px rgb(74, 74, 74),
    -4px 4px 0px rgb(74, 74, 74), 4px -4px 0px rgb(74, 74, 74),
    0 8px 8px rgba(0, 0, 0, 0.5);
  transform: rotate3d(-2, 2, 2, 3deg);
}
.card_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  /* gap: 10px; */
}
.eye_mobile {
  background-color: black;
  width: 26%;
  height: 4%;
  border-radius: 10px;
  position: absolute;
  top: 8px;
  right: 50%;
  transform: translateX(50%);
  z-index: 3;
}
.bottom_line_mobile {
  background-color: black;
  width: 130px;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  bottom: 5px;
  right: 50%;
  transform: translateX(50%);
  z-index: 3;
}
.avatar_mini {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  object-fit: cover;
  z-index: 2;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.card_title_mini {
  z-index: 1;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
.link_wrapper {
  margin: auto;
  padding: 10px;
  width: 48%;
  /* height: 100%; */
  border: 1px solid #dddddd7f;
  border-radius: 5px;
  text-align: center;
  background-color: #0000004a;
  transition: all 0.3s ease;
}
.link_wrapper:hover {
  background-color: #0000009d;
  transform: scale(1.05);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.link {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .desktop {
    display: none !important;
  }
  .dashboard-container {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
  }

  .dashboard-content h1 {
    font-size: 1.5rem;
  }

  .landing-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .landing-nav .nav-link {
    margin: 5px 0;
  }
  .cards-section {
    /* display: none; */
    margin: auto;
    /* display: flex; */
    box-sizing: border-box;
    /* width: 100vw; */
    margin: 10px auto;
  }

  .card-item {
    display: flex;
    width: 80vw;
    margin: auto;
  }
  /* .cards-grid {
    grid-template-columns: 1fr;
  } */
}
