.landing-container {
  text-align: center;
  padding: 20px 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.landing_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.landing-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.landing-container p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}
.landing-nav {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  font-size: 1rem;
  gap: 10px;
  transition: all 0.3s ease;
  color: black;
}

.nav-link:hover {
  border-bottom: solid 1px black;
}
.language-switcher {
  display: flex;
  justify-content: center;
}
.mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .landing-container {
    padding: 10px;
  }
  .desktop {
    display: none;
  }
  .landing-container h1 {
    font-size: 2rem;
  }
  .landing-container p {
    font-size: 1rem;
  }
}
