.carousel-container {
  overflow: hidden;
  width: 100%;
  height: 400px;
  /* display: flex; */
  /* gap: 10px; */
}

.carousel-track {
  display: flex;
  white-space: nowrap;
  will-change: transform;
}

.carousel-slide {
  display: flex;
  /* flex: none; */
  width: 500px;
  gap: 10px;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
